In [1]:
import warnings
warnings.filterwarnings('ignore')
import selenium
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import selenium
from selenium import webdriver
import time
import pandas as pd

In [2]:
# Let's first connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
#opening the cars24 website
url = 'https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001'
driver.get(url)

#opening the cars24 website
url = 'https://www.cardekho.com/used-cars'
driver.get(url)

In [41]:
i=0
while(i<100):
    driver.execute_script("window.scrollBy(0,500)") # scroll down to get more comments
    i+=1
while(i<5002):
    driver.execute_script("window.scrollBy(0,5000)") # scroll down to get more comments
    i+=1

In [4]:
# Scraping name of car
name = []
title_tags = driver.find_elements(By.XPATH,'//h2[@class="_3FpCg"]')
for i in title_tags:
    title = i.text
    name.append(title)

In [5]:
len(name)

952

In [29]:
name[0:5]

['2019 Maruti Swift',
 '2018 Hyundai Grand i10',
 '2021 Maruti Swift',
 '2020 Maruti Swift',
 '2009 Hyundai i10']

In [7]:
# Scraping price from the given page
price = []
title_tags = driver.find_elements(By.XPATH,'//div[@class="_7udZZ"]')
for i in title_tags:
    title = i.text.replace('â‚¹','')
    price.append(title)

In [8]:
len(price)

952

In [25]:
k = []
title_tags = driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[1]')
for i in title_tags:
    title = i.text.replace('km','')
    k.append(title)

In [27]:
len(k)

952

In [30]:
k[0:5]

['11,404 ', '6,875 ', '13,174 ', '16,633 ', '45,140 ']

In [15]:
fuel = []
title_tags = driver.find_elements(By.XPATH,'//ul[@class="bVR0c"]/li[3]')
for i in title_tags:
    title = i.text
    fuel.append(title)

In [16]:
len(fuel)

952

In [31]:
fuel[0:5]

['Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol']

In [18]:
transmission = []
title_tags = driver.find_elements(By.XPATH,'//p[@class="cvakB"]/span')
for i in title_tags:
    title = i.text
    transmission.append(title)

In [19]:
len(transmission)

952

In [32]:
transmission[0:5]

['Manual', 'Manual', 'Manual', 'Manual', 'Manual']

In [22]:
owner = []
title_tags = driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[2]")
for i in title_tags:
    title = i.text
    owner.append(title)

In [23]:
len(owner)

952

In [33]:
owner[0:5]

['2nd Owner', '2nd Owner', '1st Owner', '2nd Owner', '1st Owner']

In [34]:
#Creating a dataframe and checking the data extracted
cars24 = pd.DataFrame({'name':name,'selling_price':price,'km_driven':k,'fuel':fuel,'transmission':transmission,'owner':owner})

In [36]:
cars24.head()

,name,selling_price,km_driven,fuel,transmission,owner
0,2019 Maruti Swift,"5,34,399","11,404",Petrol,Manual,2nd Owner
1,2018 Hyundai Grand i10,"5,46,599","6,875",Petrol,Manual,2nd Owner
2,2021 Maruti Swift,"5,55,899","13,174",Petrol,Manual,1st Owner
3,2020 Maruti Swift,"5,57,199","16,633",Petrol,Manual,2nd Owner
4,2009 Hyundai i10,"1,70,699","45,140",Petrol,Manual,1st Owner

In [37]:
#Saving in a csv file
cars24.to_csv('cars24data.csv')

In [38]:
data = pd.read_csv('cars24data.csv')

In [40]:
data.head()

,Unnamed: 0,name,selling_price,km_driven,fuel,transmission,owner
0,0,2019 Maruti Swift,"5,34,399","11,404",Petrol,Manual,2nd Owner
1,1,2018 Hyundai Grand i10,"5,46,599","6,875",Petrol,Manual,2nd Owner
2,2,2021 Maruti Swift,"5,55,899","13,174",Petrol,Manual,1st Owner
3,3,2020 Maruti Swift,"5,57,199","16,633",Petrol,Manual,2nd Owner
4,4,2009 Hyundai i10,"1,70,699","45,140",Petrol,Manual,1st Owner